<!DOCTYPE html>
<html>
<head>
	<title>theLateNightSight</title>
</head>
<body>

	<div>
		<h1><a href="/"> The Late Night Sight </a></h1>
	</div>

	<div>
		<p>Published: 07/06/2020 09:52</p>
		<h2><a href ="">The first post</a></h2>
		<p>
			Roses are Red

			<br>Violets Blue,
			<br>
			<br>I am being fooled
			<br>
			<br>So are You!
		</p>
	</div>

	<div>
		<p>Published: 09/06/2020 23:52</p>
		<h2><a href="">On the purpose..</a></h2>
		<p>"Why do I even get out of bed every morning?". I ask myself just before waking up. What is making me get out of bed? I am completely stunned by the question. Big silence! I had never thought of this my whole life....</p>
	</div>
</body>
</html>